/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */


/** Ionic CSS Variables **/

:root {

    --background: #58A557;
    --ion-color-primary: #58A557;
    --ion-color-primary-rgb: 244, 245, 248;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #d7d8da;
    --ion-color-primary-tint: #f5f6f9;
    --ion-color-secondary: #9ECC9E;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;
    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;
    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;
    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;
    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;
    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;


    --ion-background-color: #58A557;
    --ion-background-color-rgb: 72, 136, 71;
    --ion-text-color: #000000;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-color-step-50: #F3F9F3;
    --ion-color-step-100: #6EB26D;
    --ion-color-step-150: #7AB879;
    --ion-color-step-200: #86BF85;
    --ion-color-step-250: #92C591;
    --ion-color-step-300: #9ECC9E;
    --ion-color-step-350: #447F43;
    --ion-color-step-400: #3F753E;
    --ion-color-step-450: #3A6C39;
    --ion-color-step-500: #346234;
    --ion-color-step-550: #2F582E;
    --ion-color-step-600: #2A4E29;
    --ion-color-step-650: #254424;
    --ion-color-step-700: #1F3B1F;
    --ion-color-step-750: #1A311A;
    --ion-color-step-800: #152715;
    --ion-color-step-850: #101D0F;
    --ion-color-step-900: #0A140A;
    --ion-color-step-950: #050A05;
    --ion-item-background: #B9DAB9;
    --ion-card-background: #9DCB9C;
    /** primary **/
    --ion-background-color: #58A557;
    --ion-color-primary: #58A557;
    --ion-color-primary-rgb: 72, 136, 71;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #9ECC9E;
    --ion-color-primary-tint: #9ECC9E;
    /** secondary **/
    --ion-color-secondary: #9ECC9E;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #09948f;
    --ion-color-secondary-tint: #14ada8;
    /** tertiary **/
    --ion-color-tertiary: #9DCB9C;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
    /** dark **/

    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
    /*
   * Dark Colors
   * -------------------------------------------
   */
    body {
        --ion-color-primary: #58A557;
        --ion-color-primary-rgb: 244, 245, 248;
        --ion-color-primary-contrast: #000000;
        --ion-color-primary-contrast-rgb: 0, 0, 0;
        --ion-color-primary-shade: #d7d8da;
        --ion-color-primary-tint: #f5f6f9;
        --ion-color-secondary: #9ECC9E;
        --ion-color-secondary-rgb: 80, 200, 255;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255, 255, 255;
        --ion-color-secondary-shade: #46b0e0;
        --ion-color-secondary-tint: #62ceff;
        --ion-color-tertiary: #6a64ff;
        --ion-color-tertiary-rgb: 106, 100, 255;
        --ion-color-tertiary-contrast: #ffffff;
        --ion-color-tertiary-contrast-rgb: 255, 255, 255;
        --ion-color-tertiary-shade: #5d58e0;
        --ion-color-tertiary-tint: #7974ff;
        --ion-color-success: #2fdf75;
        --ion-color-success-rgb: 47, 223, 117;
        --ion-color-success-contrast: #000000;
        --ion-color-success-contrast-rgb: 0, 0, 0;
        --ion-color-success-shade: #29c467;
        --ion-color-success-tint: #44e283;
        --ion-color-warning: #ffd534;
        --ion-color-warning-rgb: 255, 213, 52;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #e0bb2e;
        --ion-color-warning-tint: #ffd948;
        --ion-color-danger: #ff4961;
        --ion-color-danger-rgb: 255, 73, 97;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #e04055;
        --ion-color-danger-tint: #ff5b71;
        --ion-color-dark: #f4f5f8;
        --ion-color-dark-rgb: 244, 245, 248;
        --ion-color-dark-contrast: #000000;
        --ion-color-dark-contrast-rgb: 0, 0, 0;
        --ion-color-dark-shade: #d7d8da;
        --ion-color-dark-tint: #f5f6f9;
        --ion-color-medium: #989aa2;
        --ion-color-medium-rgb: 152, 154, 162;
        --ion-color-medium-contrast: #000000;
        --ion-color-medium-contrast-rgb: 0, 0, 0;
        --ion-color-medium-shade: #86888f;
        --ion-color-medium-tint: #a2a4ab;
        --ion-color-light: #222428;
        --ion-color-light-rgb: 34, 36, 40;
        --ion-color-light-contrast: #ffffff;
        --ion-color-light-contrast-rgb: 255, 255, 255;
        --ion-color-light-shade: #1e2023;
        --ion-color-light-tint: #383a3e;
    }
    /*
   * iOS Dark Theme
   * -------------------------------------------
   */
    .ios body {
        --ion-background-color: #58A557;
        --ion-background-color-rgb: 72, 136, 71;
        --ion-text-color: #000000;
        --ion-text-color-rgb: 255, 255, 255;
        --ion-color-step-50: #F3F9F3;
        --ion-color-step-100: #6EB26D;
        --ion-color-step-150: #7AB879;
        --ion-color-step-200: #86BF85;
        --ion-color-step-250: #92C591;
        --ion-color-step-300: #9ECC9E;
        --ion-color-step-350: #447F43;
        --ion-color-step-400: #3F753E;
        --ion-color-step-450: #3A6C39;
        --ion-color-step-500: #346234;
        --ion-color-step-550: #2F582E;
        --ion-color-step-600: #2A4E29;
        --ion-color-step-650: #254424;
        --ion-color-step-700: #1F3B1F;
        --ion-color-step-750: #1A311A;
        --ion-color-step-800: #152715;
        --ion-color-step-850: #101D0F;
        --ion-color-step-900: #0A140A;
        --ion-color-step-950: #050A05;
        --ion-item-background: #B9DAB9;
        --ion-card-background: #9DCB9C;
    }
    .ios ion-modal {
        --ion-background-color: var(--ion-color-step-100);
        --ion-toolbar-background: var(--ion-color-step-150);
        --ion-toolbar-border-color: var(--ion-color-step-250);
    }
    /*
   * Material Design Dark Theme
   * -------------------------------------------
   */
    .md body {
        --ion-background-color: #58A557;
        --ion-background-color-rgb: 72, 136, 71;
        --ion-text-color: #000000;
        --ion-text-color-rgb: 255, 255, 255;
        --ion-border-color: #222222;
        --ion-color-step-50: #F3F9F3;
        --ion-color-step-100: #6EB26D;
        --ion-color-step-150: #7AB879;
        --ion-color-step-200: #86BF85;
        --ion-color-step-250: #92C591;
        --ion-color-step-300: #9ECC9E;
        --ion-color-step-350: #447F43;
        --ion-color-step-400: #3F753E;
        --ion-color-step-450: #3A6C39;
        --ion-color-step-500: #346234;
        --ion-color-step-550: #2F582E;
        --ion-color-step-600: #2A4E29;
        --ion-color-step-650: #254424;
        --ion-color-step-700: #1F3B1F;
        --ion-color-step-750: #1A311A;
        --ion-color-step-800: #152715;
        --ion-color-step-850: #101D0F;
        --ion-color-step-900: #0A140A;
        --ion-color-step-950: #050A05;
        --ion-item-background: #B9DAB9;
        --ion-card-background: #9DCB9C;
        --ion-toolbar-background: #F3F9F3;
        --ion-tab-bar-background: #F3F9F3;
    }
}